{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>
<!-- TODO: Feature 4 -->

<h1 class="display-3">{{ movie.title }}</h1>
<h1 class="lead">
    Director: {{ movie.director }}
</h1>
<br>
<h1 class="display-4">
    Rating: {{ movie.rating }}
</h1><br>

<form action="/movies/{{ movie.movie_id }}/edit" method="get">
    <button class="btn btn-warning">Edit</button>
</form><br>
<form action="/movies/{{ movie.movie_id }}/delete" method="get">
    <button class="btn btn-danger">Delete</button>
</form>


{% endblock %}
